body {
    background: #1a1a1a;
    color: #fff;
    font-family: 'Roboto';
}

.flat-form {
    position: relative;
    margin: 25px auto;
    width: 390px;
    height: 340px;
    /* e74c3c */
    background: #34495e;
    font-family: 'Roboto';
}

.tabs {
    position: relative;
    display: block;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    width: 100%;
    height: 40px;
    background-color: #c0392b;
    list-style-type: none;
}

.tabs li {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
}

.tabs a {
    display: block;
    float: left;
    padding: 12px 22px;
    background: #c0392b;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  /* border-right: 1px solid @tab-border; */
}

.tabs li:last-child a {
    padding-right: 0;
    padding-left: 0;
    width: 174px;
    border-right: none;
    text-align: center;
}

.tabs a.active {
    border-right: none;
    background: #e74c3c;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
}

.form-action {
    position: relative;
    padding: 0 20px;
}

.form-action h1 {
    padding-bottom: 10px;
    font-size: 2.625em;
}

.form-action p {
    padding-bottom: 10px;
    font-size: .750em;
    line-height: 25px;
}

form {
    padding-right: 20px;
}

form input {
    font-family: 'Roboto';
}

form input:not([type=submit]) {
    margin-bottom: 10px;
    padding-left: 15px;
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    background: #fff;
    color: #e74c3c;
}

.dark-box {
    width: 50px;
    height: 40px;
    background: #5e0400;
    box-shadow: inset 1px 3px 3px #3d0100;
    -webkit-box-shadow: inset 1px 3px 3px #3d0100;
    -moz-box-shadow: inset 1px 3px 3px #3d0100;
}

.form-action .dark-box.bottom {
    position: absolute;
    right: 0;
    bottom: -24px;
}

.tabs + .dark-box.top {
    position: absolute;
    top: 0;
    right: 0;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.button {
    display: block;
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background: #136899;
    color: #fff;
    text-align: center;
    /* box-shadow: 0px 3px 1px #2075aa; */
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -o-transition: all .15s linear;
    transition: all .15s linear;
}

.button:hover {
    background: #1e75aa;
  /* box-shadow: 0 3px 1px #237bb2; */
}

.button:active {
    background: #136899;
  /* box-shadow: 0 3px 1px #0f608c; */
}

::-webkit-input-placeholder {
    color: #e74c3c;
}

/* Firefox 18- */
:-moz-placeholder {
    color: #e74c3c;
}

/* Firefox 19+ */
::-moz-placeholder {
    color: #e74c3c;
}

:-ms-input-placeholder {
    color: #e74c3c;
}